<carousel [isAnimated]="true">
  <slide>
    <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636302006/photo-1454165804606-c3d57bc86b40_cvnvj1.jpg">
  </slide>
  <slide>
    <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636301800/photo-1509062522246-3755977927d7_bzcpdm.jpg">
  </slide>
  <slide>
    <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636302088/photo-1581091226825-a6a2a5aee158_wxrikq.jpg">
  </slide>
</carousel>
<section class="featured">
  <article class="d-flex justify-content-center">
    <h1 class="text-primary">Welcome to RapidLearn!</h1>
  </article>
  <app-introduction></app-introduction>
  <app-cards class="mb-5"></app-cards>
</section>

