<carousel [isAnimated]="true">
  <slide>
    <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636135301/productivity-problems_qlxbep.jpg">
  </slide>
  <slide>
    <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636135323/classroomsetup_unolxs.jpg">
  </slide>
  <slide>
    <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636135337/mixed-reality-large-132259070076953800_bzm77u.jpg">
  </slide>
</carousel>
<section class="featured">
  <article class="d-flex justify-content-center">
    <h1 class="text-primary">Welcome to RapidLearn!</h1>
  </article>
  <app-introduction></app-introduction>
  <app-cards class="mb-5"></app-cards>
</section>

