.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

div {
  margin-top: 60px;
}

article:first-child {
  text-align: left;
  display: flex;
  flex-direction: column;
}

p {
  width: 60%;
  font-size: 20px;
}

h1 {
  font-size: 56px;
}

img {
  width: 400px;
  height: auto;
  object-fit: cover;
}


@media only screen and (max-width: 1300px) {
  .intro-container {
    flex-direction: column;
  }

  p {
    width: 80%;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  article:last-child {
    margin-top: 40px;
  }

  article:first-child {
    justify-content: center;
    align-items: center;
  }
}
