<div>
  <section class="intro-container">
    <article class="text-container">
      <h3 class="text-primary">What we do</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis est explicabo hic minus mollitia,
        nisi officiis, perferendis sint tenetur vitae voluptatem. Accusamus architecto, aspernatur expedita laboriosa,
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, asperiores aspernatur commodi doloremque dolorum fuga id ipsum nesciunt
        praesentium sit, soluta tempora veniam, voluptates! Adipisci ducimus eos minus neque quod.
      </p>
    </article>
    <article>
      <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636119582/favpng_search-engine-optimization-vector-graphics-royalty-free-stock-illustration_smkzfn.png" alt="">
    </article>
  </section>
</div>
