<div>
  <section class="intro-container">
    <article class="text-container">
      <h3 class="text-primary">What we do</h3>
      <p>
        Our team strives to create modern solutions which integrate technology with education. Our attention span has been declining over the years and the facts prove this.
        Nowadays short and concise content is more attractive to users, hence why we created RapidEdu. RapidEdu is a platform which provides fun facts about various subjects in a
        concise and digestible manner. When you have time to kill, instead of scrolling TikTok, you can use RapidEdu and improve your understanding of the world around you. The platform
        can be enjoyed by anyone but our team thinks that teenagers will find it the most fulfilling.
      </p>
    </article>
    <article>
      <img src="https://res.cloudinary.com/nikolozscloud/image/upload/v1636119582/favpng_search-engine-optimization-vector-graphics-royalty-free-stock-illustration_smkzfn.png" alt="">
    </article>
  </section>
</div>
