article {
  width: 95%;
  border-radius: 12px;
}

div {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

p {
  font-size: 20px;
}

h6 {
  font-size: 22px;
  color: #fff;
}

i {
  font-size: 30px;
}
