h1 {
  text-align: center;
}

.subject-wrapper {
  margin: auto;
  justify-content: center;
}

.learning-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
