<div>
  <section class="d-flex justify-content-center align-items-center">
    <app-card-item data-aos="flip-up" [className]="'fas fa-graduation-cap'" [title]="'E-Learning'" [text]="'lorem dfasd  dfdsf e das g efg  sdaf'"></app-card-item>
    <app-card-item data-aos="flip-up" class="mx-5" [className]="'fas fa-desktop'" [title]="'Innovation'" [text]="'lorem dfasd  dfdsf e das g efg  sdaf'"></app-card-item>
    <app-card-item data-aos="flip-up" [className]="'fas fa-universal-access'" [title]="'Accessibility'" [text]="'lorem dfasd  dfdsf e das g efg  sdaf'"></app-card-item>
  </section>
</div>
