<div>
  <section class="d-flex justify-content-center align-items-center">
    <app-card-item data-aos="flip-up" [className]="'fas fa-graduation-cap'" [title]="'E-Learning'" [text]="'Learning on RapidEdu is fully digital'"></app-card-item>
    <app-card-item data-aos="flip-up" class="mx-5" [className]="'fas fa-desktop'" [title]="'Innovation'" [text]="'Our teaching method is new and ambitious'"></app-card-item>
    <app-card-item data-aos="flip-up" [className]="'fas fa-universal-access'" [title]="'Accessibility'" [text]="'All you need is an internet connection'"></app-card-item>
  </section>
</div>
